.main {
   /* border: 1px solid #fff; */
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: rgb(18, 18, 18);
   background: linear-gradient(45deg, rgba(18, 18, 18, 1) 0%, rgba(18, 26, 50, 1) 100%);
   border-radius: 16px;
   align-self: stretch;

   padding: 15px 30px;
   gap: 45px;
}

h1 {
   font-size: 3.5rem;
   text-align: center;
   font-weight: 700;
}

.geoGui {
   /* margin: 45px 0 0 0; */
   display: flex;
   /* border: 1px solid #fff; */
   gap: 30px;
   color: #bdbdbd;
}

.geoGui > * {
   opacity: 0.8;
   transition: all 0.15s ease;
}

.geoGui .targetGeo {
   background: #121212 url("../icons/geo-location-svgrepo-com.svg") 50% 50%/contain;
   width: 5.5rem;
   height: 5.5rem;
   border-radius: 20px;
   border: none;
   cursor: pointer;
}

.geoGui .targetGeo:is(:hover, :focus) {
   opacity: 1;
   outline: 2px solid #bdbdbd;
}

.geoGui .g-country, .g-city {
   background: #121212;
   font-size: 2.5rem;
   line-height: 1em;
   padding: 1.5rem;
   border-radius: 20px;
   border: none;
   position: relative;
}

.geoGui .changePar {
   position: absolute;
   top: 0.5rem;
   right: 0.5rem;
   /* background: url("../icons/edit.svg") 50% 50%/contain;*/
   background-color: #bdbdbd;
   height: 0.8rem;
   width: 0.8rem;
   display: block;
   border: none;
   /* outline: 1px solid #bdbdbd; */
   /* padding: 5px; */
   border-radius: 50vw;
   cursor: pointer;
}

.geoGui > * > input[type="text"]{
   width: 6ch;
   display: block;
   background-color: red;
}

.geoGui > *:has(.changePar:hover){
   outline: 2px solid #bdbdbd;
   opacity: 1;

}

/* Country data */
.countryData{
   /* margin: 45px 0 0 0; */
   transition: all 0.15s ease;
   display: flex;
   flex-direction: column;
   align-items: center;
   color:#bdbdbd;
   gap: 2rem;
}
.getCountry {
   background-color: #121212;
   font-size: 2rem;
   padding: 1.5rem 3rem;
   border-radius: 20px;
   opacity: 0.8;
   color:#bdbdbd;
   transition: inherit;
}

.getCountry:hover{
   outline: 2px solid #bdbdbd;
   opacity: 1;
}

.country {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 45px;
}

.country h4 {
   font-weight: 700;
}

.hero{
   display: flex;
   flex-direction: column;
   max-width: 300px;
   grid-row: span 2;
   background-color: #121212;
   font-size: 1.8rem;
   padding: 0.7rem 1.4rem;
   border-radius: 20px;
   gap: 0.7rem;
}

.hero h4 {
   text-align: center;
   line-height: 1em;
}

.hero img {
   width: 100%;
   display: block;
   aspect-ratio: 1;
}

.country .languages, .population{
   background-color: #121212;
   font-size: 1.8rem;
   padding: 0.7rem 1.4rem;
   border-radius: 20px;
}