.main {
   /* border: 1px solid #fff; */
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: rgb(18, 18, 18);
   background: linear-gradient(45deg, rgba(18, 18, 18, 1) 0%, rgba(18, 26, 50, 1) 100%);
   border-radius: 16px;
   align-self: stretch;

   padding: 15px 30px;
   gap: 45px;
   overflow: scroll;
}

h1 {
   font-size: 3.5rem;
   text-align: center;
   font-weight: 700;
}
.geoGui {
   /* max-width: 500px; */
   flex-grow:1;
   justify-content: center;
   flex-wrap: wrap;

   /* margin: 45px 0 0 0; */
   display: flex;
   /* border: 1px solid #fff; */
   gap: 30px;
   color: #bdbdbd;
}

.geoGui>* {
   opacity: 0.8;
   transition: all 0.15s ease;
}

.geoGui .targetGeo {
   background: #121212 url("../icons/geo-location-svgrepo-com.svg") 50% 50%/contain;
   width: 5.5rem;
   height: 5.5rem;
   border-radius: 20px;
   border: none;
   cursor: pointer;
   box-shadow: 0 4px 16px rgba(255,255,255,0.08);
}

.geoGui .targetGeo:is(:hover, :focus) {
   opacity: 1;
   outline: 2px solid #bdbdbd;
}

.geoGui .g-country,
.g-city {
   background: #121212;
   font-size: 2.5rem;
   line-height: 1em;
   padding: 1.5rem;
   border-radius: 20px;
   border: none;
   position: relative;
}

.geoGui .loading::placeholder, .geoGui .loading{
   color: #121212 !important;
}
.geoGui > *:has(.loading)::after{
   content: "";
   height: 2rem;
   aspect-ratio: 1;
   display: block;
   /* background-color: #bdbdbd; */
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: rotate 1.2s ease infinite;
   border: 2px solid #bdbdbd;
   

   /* border: 2px solid #bdbdbd;
   height: 2rem;
   display: block;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   content: "";
   aspect-ratio: 1;
   animation: rotate 1.2s ease infinite; */
   /* border-radius: 6px; */
}

@keyframes rotate {
   0% {
     transform: translate(-50%, -50%) rotate(0deg);
   }
   100% {
     transform: translate(-50%, -50%) rotate(360deg);
   }
 }

.geoGui .changePar {
   position: absolute;
   top: 0.3rem;
   right: 0.3rem;
   background: url("../icons/edit.svg") 50% 50%/contain;
   /* background-color: #bdbdbd; */
   height: 1.6rem;
   width: 1.6rem;
   display: block;
   border: none;
   /* outline: 1px solid #bdbdbd; */
   /* padding: 5px; */
   border-radius: 50vw;
   cursor: pointer;
   opacity: 0.1;
   transition: all 0.15s ease;
}

.geoGui input[type="text"] {
   width: 6ch;
   display: block;
   cursor: default;
}

.geoGui input[type="text"]{
   cursor: text;
}
.geoGui>*:has(.changePar:hover){
   outline: 2px solid #bdbdbd;
   opacity: 0.85;
}

.geoGui>*:has(input:focus){
   outline: 2px solid #bdbdbd;
   opacity: 1 !important;
}

.geoGui .changePar:hover, .geoGui >*:has(input:focus) .changePar {
   opacity: 1;
}








/* Country data */
.countryData, .currencyData {
   /* margin: 45px 0 0 0; */
   transition: all 0.15s ease;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #bdbdbd;
   gap: 2rem;
}

.getCountry, .getCurrency {
   background-color: #121212;
   font-size: 2rem;
   padding: 1.5rem 3rem;
   border-radius: 20px;
   opacity: 0.8;
   color: #bdbdbd;
   transition: inherit;
   box-shadow: 0 4px 16px rgba(255,255,255,0.08);
}

.getCountry:hover, .getCurrency:hover {
   outline: 2px solid #bdbdbd;
   opacity: 1;
}

.country {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 45px;
}

.country h4 {
   font-weight: 700;
}

.hero {
   display: flex;
   flex-direction: column;
   max-width: 300px;
   grid-row: span 3;
   background-color: #121212;
   font-size: 1.8rem;
   padding: 0.7rem 1.4rem;
   border-radius: 20px;
   gap: 0.7rem;
   align-self: start;
}

.hero h4 {
   text-align: center;
   line-height: 1em;
}

.hero img {
   width: 100%;
   display: block;
   aspect-ratio: 1;
}

.country .languages,
.population,
.capital ,
.box div{
   background-color: #121212;
   font-size: 1.8rem;
   padding: 0.7rem 1.4rem;
   border-radius: 20px;
   align-self: start;
}



/* Currency */

.--hidden{
   display: none;
}
.currencyData {
   /* max-width: 645px; */
   align-self: stretch;
}

.box {
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
   gap: 45px;
}

.box div {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
}

.box div h4{
   font-weight: 700;
}
