.menu-wrapper{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 12px;
}
.menu {
   display: flex;
   flex-direction: column;
   gap: 15px;
   font-size: 1.2rem;

   background-color: #121212;
   padding: 15px 30px;
   border-radius: 16px;}

.menu li {
   color: #b3b3b3;
   transition: all 0.15s ease;
}

.menu li:not(.active):hover{
   transform: translate(15px, 0) scale(1.25);
}

.menu li.active{
   color: #fff;
   font-size: 1.8rem;
}
.menu li:last-child {
   justify-self: end;
}