.main {
   /* border: 1px solid #fff; */
   flex-grow: 1;
   /* display: flex;
   flex-direction: column;
   align-items: center; */
   background: rgb(18, 18, 18);
   background: linear-gradient(45deg, rgba(18, 18, 18, 1) 0%, rgba(54, 19, 22, 1) 100%);
   border-radius: 16px;
   align-self: stretch;

   padding: 15px 30px;
   gap: 45px;
   position: relative;
   overflow: auto;
}

.--hidden {
   display: none !important;
}


h1 {
   font-size: 3.5rem;
   text-align: center;
   font-weight: 700;
}

.sInfo {
   background: rgba(255, 255, 255, 0.1) url("../icons/db.svg") 50% 50%/contain no-repeat;
   height: 3.5rem;
   display: block;
   aspect-ratio: 1;
   border-radius: 10px;
   /* padding: 10rem; */
   position: absolute;
   right: 2rem;
   top: 2rem;
   opacity: 0.75;
   transition: all 0.15s ease;
}

.sInfo:hover {
   opacity: 0.9;
}

.sInfo:hover~ul {
   opacity: 0.9 !important;
}

.server-info ul {
   position: absolute;
   display: flex;
   /* display: none; */
   flex-direction: column;
   gap: 15px;
   /* color: #121212; */
   background-color: rgba(255, 255, 255, 0.05);
   padding: 0.5rem 3rem 0.5rem 1.5rem;
   border-radius: 20px;
   opacity: 0;
   top: 5.5rem;
   right: 2rem;
   transition: all 0.15s ease;
}

.server-info ul li {
   /* border: 1px solid #fff; */
   font-size: 1.2rem;
}

.dbGUI {
   margin: 45px auto 0;
   display: flex;
   grid-template-columns: 1fr 1fr;
   gap: 45px;
   /* max-width: 400px; */
   justify-content: center;
   /* border: 1px solid #000; */
   /* width: 200px;
   align-self: stretch;
   margin:0 auto; */
}

.dbGUI>* {
   /* flex: 1; */
   display: block;
   /* border: 1px solid #000; */
   background-color: rgba(255, 255, 255, 0.05);
   font-size: 2.5rem;
   line-height: 1em;
   padding: 1.5rem 3rem;
   border-radius: 20px;
   border: none;
   position: relative;
   opacity: 0.8;
   text-align: center;
   transition: all 0.15s ease;
   box-shadow: 0 4px 16px rgba(0, 0,0, 0.3);
}

.dbGUI>*:hover {
   outline: 2px solid #bdbdbd;
   opacity: 1;
}

.modalWrite {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.modalWrite .overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   /* opacity: 0.4; */
   backdrop-filter: blur(2px);
   z-index: 1;
}

.modalWrite form {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* width: 400px; */

   display: block;
   border-radius: 20px;
   /* border: 1px solid #000; */
   /* background: #121212; */
   background: rgb(18, 18, 18);
   background: linear-gradient(45deg, rgba(18, 18, 18, 1) 0%, rgba(54, 19, 22, 1) 100%);
   padding: 2rem 4rem;
   box-shadow: 0 2px 50px rgba(0,0,0,0.5);
   z-index: 2;
}

.modalWrite label {
   display: block;
   margin: 2rem 0 0 0;
   /* border: 1px solid #fff; */
   background: rgba(255, 255, 255, 0.05);
   /* box-shadow: 0 2px 3px rgba(255, 255, 255, 0.05); */
   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
   font-size: 2.2rem;
   border: none;
   border-radius: 10px;
   padding: 1.3rem 1rem 0.5rem;
   max-width: 20ch;
   position: relative;
}

.modalWrite input {
   display: block;
   cursor: text;
}

.modalWrite p {
   position: absolute;
   top: 0.9rem;
   left: 1rem;
   font-size: 2.2rem;
   transition: all 0.15s ease;
   opacity: 0.7;
   cursor: text;
}

.modalWrite input:focus~p,
.modalWrite input:not(:placeholder-shown)~p {
   font-size: 1.1rem;
   top: 0.1rem;
   /* text-shadow: 1px 0 1px #000; */
   opacity: 0.9;
}

.modalWrite h3 {
   text-align: center;
   font-size: 2.2rem;
   font-weight: 700;
}

.modalWrite input[type='button'] {
   margin: 2rem auto 0;
   display: block;
   font-size: 2.5rem;
   padding: 1rem 4.5rem;
   border-radius: 20px;
   transition: all 0.15s ease;
   background: rgba(255, 255, 255, 0.05);
   /* box-shadow: 0 2px 3px rgba(255, 255, 255, 0.05); */
   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
   cursor: pointer;
}

.modalWrite input[type='button']:hover {
   outline: 2px solid #bdbdbd;
   opacity: 1;
}


.recievedData {
   margin: 45px auto 0;
   box-shadow: inset 0 4px 16px rgba(0,0,0,0.5);
   min-height: 300px;
   max-height: 450px;
   overflow: auto;
   padding: 1.5rem;
   background-color: rgba(0, 0, 0, 0.05);
   /* border-radius: 20px; */
   max-width: 600px;
   /* display: grid;
   gap: 1.5rem;
   align-items: start; */
}

.recievedData> *:not(:nth-child(1)){
   margin-top: 1.5rem;
}


.row {
   /* display: flex;
   flex-wrap: wrap; */
   gap: 1.5rem;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   /* box-shadow: inset 0 2px 16px rgba(0,0,0,0.5); */
   position: relative;
   background-color: rgba(255, 255, 255, 0.02);
   border-radius: 10px;
   
}

.row > li {
   flex-grow: 1;
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.05);
   padding: 0.5rem 1rem;
   font-size: 2rem;
   position: relative;
}

.editable > li {
   outline: 2px solid #bdbdbd;
}

.row li:nth-child(1) {
   grid-column: span 2;
}
.row li:nth-child(1):hover::after {
   content: attr(date);
   position: absolute;
   font-size: 0.5em;
   bottom: -10px;
   left: 10px;
}

.row li:nth-child(2) {
   grid-column: span 1;
}
.row li:nth-child(3) {
   grid-column: span 4;
}

.row > button {
   display: block;
   position: absolute;
   right: 0.5rem;
   height: 1rem;
   aspect-ratio: 1;
   width: 1rem;
   background-color: rgba(255, 255, 255, 0.05);
   opacity: 0.5;
   transition: all 0.15s ease;
}

.row > button:hover {
   opacity: 1;
}

.editBtn{
   top: 0.5rem;
   background: url("../icons/editUser.svg") 50% 50%/cover no-repeat;
}

.save {
   background-image: url("../icons/save.svg");
}
.deleteBtn {
   top: calc(1rem + 1rem);
   background: url("../icons/delete.svg") 50% 50%/cover no-repeat;
}