.main {
   /* border: 1px solid #fff; */
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: rgb(18,18,18);
background: linear-gradient(45deg, rgba(18,18,18,1) 0%, rgba(54,19,22,1) 100%);
   border-radius: 16px;
   align-self: stretch;

   padding: 15px 30px;
   gap: 45px;
   overflow: scroll;
}