<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../static/css/base.css" />
      <link rel="stylesheet" href="../static/css/navbar.css" />
      <link rel="stylesheet" href="../static/css/wrapper.css" />
      <link rel="stylesheet" href="../static/css/rest.css" />
      <title>Document</title>
   </head>
   <body>
      <div class="wrapper">
         <aside class="navbar">
            <nav class="menu-wrapper">
               <ul class="menu">
                  <li class="active"><a href="">Foreign Api</a></li>
                  <li><a href="">Rest Server Api</a></li>
                  <li><a href="">Web Socket</a></li>
               </ul>
               <ul class="menu">
                  <li><a href="">Credits</a></li>
               </ul>
            </nav>
         </aside>
         <main class="main">
            <h1>Server rest Api</h1>
            <section class="server-info">
               <ul>
                  <li>Java Spring 8.2</li>
                  <li>PostgreSQL</li>
                  <li>Aws SS3 ephiopia</li>
               </ul>
            </section>
            <section class="dbGUI">
               <button class="retrieve">retrieve</button>
               <button class="write">write</button>
            </section>
         </main>
      </div>
   </body>
</html>
