<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../static/css/base.css" />
      <link rel="stylesheet" href="../static/css/navbar.css" />
      <link rel="stylesheet" href="../static/css/wrapper.css" />
      <link rel="stylesheet" href="../static/css/sockets.css" />
      <title>Api | Foreign</title>
   </head>
   <body>
      <div class="wrapper">
         <aside class="navbar">
            <nav class="menu-wrapper">
               <ul class="menu">
                  <li><a href="index.html">Foreign Api</a></li>
                  <li><a href="restDB.html">Rest Server Api</a></li>
                  <li class="active"><a href="sockets.html">Web Socket</a></li>
               </ul>
               <ul class="menu">
                  <li><a href="">Credits</a></li>
               </ul>
            </nav>
         </aside>
         <main class="main">
            <h1>Web Sockets</h1>
            <section class="canvas">
               <ul class="messages">
                  li
               </ul>
            </section>
         </main>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
      <script src="../static/js/main.js"></script>
   </body>
</html>
