<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../static/css/base.css" />
      <link rel="stylesheet" href="../static/css/navbar.css" />
      <link rel="stylesheet" href="../static/css/wrapper.css" />
      <link rel="stylesheet" href="../static/css/sockets.css" />
      <title>Api | Foreign</title>
   </head>
   <body>
      <div class="wrapper">
         <aside class="navbar">
            <nav class="menu-wrapper">
               <ul class="menu">
                  <li><a href="/task1">Foreign Api</a></li>
                  <li><a href="/task2">Rest Server Api</a></li>
                  <li class="active"><a href="/task3">Web Socket</a></li>
               </ul>
               <ul class="menu">
                  <li><a href="">Credits</a></li>
               </ul>
            </nav>
         </aside>
         <main class="main">
            <h1>Web Sockets</h1>
            <section class="canvas">
               <ul class="messages">
               </ul>
            </section>
            <section class="UI">
               <input type="text" class="author" placeholder="Name">
               <input type="color">
               <textarea placeholder="Message" id="messageInput"></textarea>
               <input type="button" value="send" onclick="sendMessage()">
            </section>
         </main>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="../static/js/sockets.js"></script>
   </body>
</html>
